@import 'styles/variaveis';

.cards{
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 2em;
	justify-content: space-between;
  	margin: 0 2em;
  	.negativo{
    	color: #c34743;
  	}
}

