@import 'styles/variaveis';

.cards{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: space-between;
  	margin: 0 2em;
  	.negativo{
    	color: #c34743;
  	}
	@media (max-width: 375px) {
		justify-content: center;
		gap: 8px;
		margin: 0;
	}
	@media (min-width: 376px) and (max-width: 425px) {
		gap: 12px;
		justify-content: center;
		margin: 0;
	}
	@media (min-width: 426px) and (max-width: 768px) {
		justify-content: center;
		margin: 0;
	}
}

