@import '../../styles/variaveis';

.inputsData{
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 4em 2em .5em 0;
  padding: 0 1em;
  div{
    border: 4px solid $cor-card;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    padding: .5em 1em;
  }
  input{
    background-color: transparent;
    border: none;
    color: $cor-cinza;
    outline: none;
  }
}