@import '../../styles/variaveis';

.inputsData{
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 4em 0 .5em 0;
  padding: 0 2em;
  text-align: center;
  p{
    color: $cor-cinza;
    font-size: 1em;
    padding: .1em .1em 0 0;
  }
}