@import "styles/variaveis";

.settingsMenu {
	align-items: center;
	background-color: $cor-dropdown;
	border: 1px solid $cor-secundaria;
	border-radius: .4em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	opacity: 1;
	padding: 2em 0.4em;
	position: absolute;
	right: 3.4em;
	top: 3.5em;
	width: 220px;
	@media (max-width: 425px) {
		border-color: $cor-azull;
		border-radius: 0;
		right: 0;
		top: 52px;
		width: 100%;
		height: 50vh;
	}
	@media (min-width: 426px) and (max-width: 768px) {
		border-color: $cor-azull;
		border-radius: .1em;
		top: 61px;
		width: 280px;
	}
	&::before {
		background-color: $cor-dropdown;
		border-left: 1px solid $cor-secundaria;
		border-top: 1px solid $cor-secundaria;
		content: "";
		height: 16px;
		position: absolute;
		right: 1.25em;
		top: -10px;
		transform: rotate(45deg);
		width: 16px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__inativo {
		display: none;
	}
	.titulo {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5em;
		margin-bottom: 0.8em;
		h3 {
			color: $cor-branco;
			font-size: 0.9em;
			font-weight: 400;
			@media (max-width: 375px) {
				font-size: 1.2em;
			}
		}
	}
	.items {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		span {
			border-top: 1px solid $cor-secundaria;
			color: $cor-brancol;
			font-size: 0.8em;
			font-weight: 400;
			margin-bottom: 1em;
			padding-top: 1em;
			width: 100%;
			text-align: center;
			@media (max-width: 375px) {
				font-size: 1em;
				padding-top: 1.6em;
			}
		}
		li {
			align-items: center;
			color: $cor-branco;
			cursor: pointer;
			display: flex;
			font-size: 1em;
			gap: 1em;
			justify-content: center;
			padding-bottom: 0.8em;
			transition: 0.3s all;
			width: 100%;
			@media (max-width: 425px) {
				font-size: 1.1em;
			}
		}
	}
}