@import "styles/variaveis";

.chart{
  background-color: $cor-card;
  border-radius: 1em;
  display: flex;
  filter: drop-shadow($sombra);
  flex-direction: column;
  gap: 1em;
  height: 100%;
  margin: 4em 2em 5em 2em;
  &__titulo{
    align-items: flex-start;
    color: $cor-brancol;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 1em 2em;
    h2{
      font-weight: 400;
      text-indent: .5em;
    }
  }
  .box{
    box-sizing: inherit;
    min-height: 360px;
    max-height: 500px;
    padding: 0 2em 2em 2em;
  }
}