@import "styles/variaveis";

.charts{
  background-color: $cor-card;
  border-radius: 1em;
  display: flex;
  filter: drop-shadow($sombra);
  gap: 1em;
  min-height: 420px;
  margin: 4em 2em;
  padding: 1em 0 2em 0;
  .chartBox{
    box-sizing: border-box;
    height: 340px;
    padding: 1em 2em;
    width: 100%;
    &__titulo{
      align-items: flex-start;
      color: $cor-brancol;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.4em;
      margin-left: 1em;
      h2{
        font-weight: 400;
      }
    }
  }
}