@import 'styles/variaveis';

@mixin tag($cor, $border, $fcor, $fweight) {
  background-color: $cor;
  border: 2px solid $border;
  border-radius: .5em;
  color: $fcor;
  cursor: pointer;
  font-size: .9rem;
  font-weight: $fweight;
  outline: none;
  padding: .5em 1em;
  text-align: center;
  width: 90px;
  
}

.searchTag{
  padding: 0 .6em;
  position: relative;
  .default{
    @include tag(#2b2c2f, #2b2c2f, #b0b0b0, 400);
    &:hover{
      border-color: $cor-secundaria;
      color: $cor-cinza;
      font-weight: 500;
      transition: ease-in .3s;
    }
    &:focus{
      border-color: $cor-azul;
    }
    &__active{
      @include tag(#5122c0, transparent, #cecece, 500);
    }
  }
}