$sombra: 5px 5px 10px rgba(0, 0, 0, 0.4);
$padd-padrao: 7.4em 2em 5em 2em;

$cor-bg-amarela: rgba(255, 180, 0, 0.15);
$cor-bg-vermelha: rgba(255, 53, 60, 0.15);
$cor-bg-cinza: rgba(120, 122, 126, 0.12);
$cor-bg-verde: rgba(86, 202, 0, 0.15);
$cor-bg-azul: rgba(33, 64, 204, 0.15);

$cor-principal: #262626;
$cor-principal-l: #f4f4f4;
$cor-secundaria: #4b4b4b;
$cor-secundaria-l: #dfd8d8;
$cor-card: #2e2f32;
$cor-card-l: #979dad;
$cor-header: #232323;
$cor-header-l: #ededed;
$cor-dropdown: #2c2c2c;
$cor-dropdown-l: #dadada;
$cor-hover: #333333;
$cor-hover-l: #d2d2d2;
$cor-azul: #5122c0;
$cor-azull: #5a6af9;
$cor-branco: #cecece;
$cor-brancol: #b0b0b0;
$cor-cinza: #898989;
$cor-cinzad: #1f1f1f;
$cor-preta: #1c1c1c;
$cor-pretal: #292929;
$cor-vermelha: #991511;
$cor-vermelhal: #e53d3d;
$cor-amarela: #e7d12b;
$cor-verde: #00b706;

