$sombra: 5px 5px 10px rgba(0, 0, 0, 0.4);
$padd-padrao: 7.4em 2em 5em 2em;

$cor-principal: #262626;
$cor-principal-l: #f4f4f4;
$cor-secundaria: #4b4b4b;
$cor-secundaria-l: #dfd8d8;
$cor-card: #2b2c2f;
$cor-card-l: #979dad;
$cor-header: #232323;
$cor-header-l: #ededed;
$cor-dropdown: #2c2c2c;
$cor-dropdown-l: #dadada;
$cor-hover: #333333;
$cor-hover-l: #d2d2d2;
$cor-azul: #5122c0;
$cor-azull: #5a6af9;
$cor-branco: #cecece;
$cor-brancol: #b0b0b0;
$cor-cinza: #898989;
$cor-cinzad: #1f1f1f;
$cor-preta: #1c1c1c;
$cor-pretal: #292929;
$cor-vermelha: #991511;
$cor-vermelhal: #c62f2a;
