@import 'styles/variaveis';

@mixin buttons($bc, $border, $cborder, $fcolor) {
  align-items: center;
  background-color: $bc;
  border: 2px $border $cborder;
  border-radius: 1em;
  color: $fcolor;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  gap: .5em;
  justify-content: center;
  padding: .5em 1em;
  transition: linear .4s;
  width: 170px;
}

.cardTitulo{
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: $padd-padrao;
  .texto{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    h2{
      color: $cor-brancol;
      font-size: 1.2em;
      font-weight: 400;
      text-align: left;
    }
    span{
      color: $cor-branco;
      font-size: 1.6em;
      text-align: left;
    }
  }
   .botoes{
      align-items: center;
      display: flex;
      gap: 2em;
      justify-content: center;
      &__add{
        @include buttons(transparent, dashed, #5122c0, #5a6af9);
        font-weight: 500;
        &:hover{
          background-color: $cor-azul;
          color: $cor-branco;
        }
    }
    &__pdf{
      @include buttons(#5122c0, solid, #5122c0, #cecece);
      &:hover{
        background-color: transparent;
        color: $cor-azull;
        font-weight: 600;
      }
    }
  }
}