@import 'styles/variaveis.scss';

@mixin buttons($bgColor, $bdColor, $color, $hColor, $bgHoverColor) {
  align-items: center;
  background-color: $bgColor;
  border: 2px solid $bdColor;
  border-radius: .4em;
  color: $color;
  cursor: pointer;
  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  outline: none;
  padding: .7em;
  transition: linear 0.4s;
  width: 360px;
  &:hover {
    background-color: $bgHoverColor;
    color:  $hColor;
  }
  @media (max-width: 375px) {
    border-radius: .2em;
    font-size: .94em;
    max-width: 12em;
  }
}

.components{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  @media (max-width: 425px) {
    gap: .6em;
  }
}

.wrapper{
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1.4em;
  width: 100%;
  @media (max-width: 425px) {
    gap: .6em;
    margin-top: 0;
  }
  .submit{
    @include buttons(transparent, $cor-azul, $cor-azull, $cor-brancol, $cor-bg-azul);
  }
  .clear{
    @include buttons(transparent, $cor-vermelha, $cor-vermelhal, $cor-brancol, $cor-bg-vermelha);
  }
}