@import 'styles/variaveis.scss';

@mixin inputs {
  background-color: $cor-principal;
  border: 1px solid $cor-principal;
  border-radius: .5em;
  color: $cor-branco;
  font-size: .94em;
  min-width: 240px;
  outline: none;
  padding: .5em;
  &:focus-within{
    border: 1px solid $cor-azul;
  }
}

.components{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  div{
    display: flex;
    flex-direction: column;
    label{
      color: $cor-brancol;
      font-size: .96em;
      margin-left: 8px;
      margin-bottom: 6px;
    }
    select{
      @include inputs;
    }
    input{
      @include inputs;
    }
  }
}

.wrapper{
  display: flex;
  justify-content: center;
  margin-top: 1.4em;
  width: 100%;
  &__button {
    background-color: $cor-azul;
    border: none;
    border-radius: .5em;
    color: $cor-branco;
    cursor: pointer;
    font-weight: 500;
    margin-top: 1.3em;
    outline: none;
    padding: 1em;
    transition: linear 0.4s;
    width: 220px;
    &:hover {
      background-color: #40199a;
      color: $cor-brancol;
    }
  }
}