@import 'styles/variaveis';

@mixin a($cor) {
  background-color: $cor;
}
@mixin td($fs,$fw,$fh,$ti) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $fh;
  text-indent: $ti;
}

.secao{
  background-color: transparent;
  margin: 0 2em;
  @media (max-width: 425px) {
    margin: 0 .2em;
	}
  .tableContent{
    filter: drop-shadow($sombra);
    
    @media (max-width: 425px) {
      filter: none;
      overflow-x: auto;
    }
    .table{
      background-color: $cor-card;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      color: $cor-brancol;
      display: table;
      width: 100%;
      padding: 1em;
      @media (max-width: 425px) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: .26em;
      }
      thead{
        background-color: $cor-preta;
        display: table-header-group;
        @include td(1em, 400, 2.1, 8px);
        tr{
          td{
            &:last-child{
              align-items: center;
              text-align: center;
            }
          }
        }
      }
      tbody{
        display: table-row-group;
        tr{
          cursor: pointer;
          &:nth-of-type(even){
            background-color: #27282b;
          }
          &:hover{
            background-color: $cor-hover;
          }
          td{
            align-items: center;
            @include td(.94em, 400, 1.8, 8px);
            .lancamento{
              align-items: center;
              display: flex;
              gap: .3em;
              height: max-content;
              justify-content: flex-start;
              div{
                align-items: center;
                border-radius: 50%;
                display: flex;
                height: 8px;
                justify-content: center;
                margin-left: 8px;
                width: 8px;
              }
            }
            .trash{
              align-items: center;
              color: $cor-cinza;
              display: flex;
              cursor: pointer;
              font-size: 1.2em;
              justify-content: center;
              width: 100%;
              &:hover{
                color: $cor-vermelhal;
              }
            }
          }
        } 
      }
    }
  }
  .pagination{
    align-items: center;
    color: $cor-cinza;
    display: flex;
    font-size: 1em;
    gap: .5em;
    justify-content: center;
    margin: 2em 0;
    @media (max-width: 425px) {
      font-size: .82em;
      margin: 1em .2em;
    }
    &__bttns{
      background-color: $cor-hover;
      border-radius: .6em;
      cursor: pointer;
      display: flex;
      padding: .2em;
      transition: all .5s;
      &:hover{
        background-color: $cor-secundaria;
      }
    }
    &__link{
      cursor: pointer;
      padding: .5em;
      &:hover{
        background-color: $cor-card;
        border-radius: .5em;
      }
    }
    &__disabled{
      a{
        @include a($cor-principal);
        &:hover{
          @include a($cor-principal);
        }
      }
    }
    &__active{
      a{
        @include a($cor-preta);
        border-radius: .5em;
        font-weight: 500;
        padding: .5em;
      }
    }
  }
}

@mixin colortxt($bc, $fcor) {
  background-color: $bc;
  color: $fcor;
}
.txtRed{
  @include colortxt(#d66464, transparent);
}
.txtGreen{
  @include colortxt(#96c186, transparent);
}
.valueGreen{
  @include colortxt(transparent, #96c186);
}
.valueRed{
  @include colortxt(transparent, #d66464);
}