@import 'styles/variaveis';

@mixin a($cor) {
  background-color: $cor;
}
@mixin td($fs,$fw,$fh,$ti) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $fh;
  text-indent: $ti;
}

.secao{
  background-color: transparent;
  margin: 0 2em;
  .tabela{
    background-color: $cor-card;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    color: $cor-brancol;
    filter: drop-shadow($sombra);
    min-width: 100%;
    padding: 1em;
    thead{
      background-color: $cor-preta;
      @include td(1em, 500, 2.1, 8px);
    }
    tbody{
      td{
        align-items: center;
        @include td(.94em, 400, 1.8, 8px);
        width: 180px;
        &:nth-child(2), &:nth-child(8), &:nth-child(10){
          width: 280px;
        }
        &:nth-child(4){
          align-items: center;
          display: flex;
          gap: .4em;
        }
      }
      tr{
        &:nth-of-type(even){
          background-color: #27282b;
        }
      }
    }
    div{
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 8px;
      justify-content: center;
      margin-left: 8px;
      width: 8px;
    }
  }
  .pagination{
    align-items: center;
    color: $cor-cinza;
    display: flex;
    font-size: 1em;
    gap: .5em;
    justify-content: center;
    margin: 2em 0;
    &__bttns{
      background-color: $cor-hover;
      border-radius: .6em;
      cursor: pointer;
      display: flex;
      padding: .2em;
      transition: all .5s;
      &:hover{
        background-color: $cor-secundaria;
      }
    }
    &__link{
      cursor: pointer;
      padding: .5em;
      &:hover{
        background-color: $cor-card;
        border-radius: .5em;
      }
    }
    &__disabled{
      a{
        @include a($cor-principal);
        &:hover{
          @include a($cor-principal);
        }
      }
    }
    &__active{
      a{
        @include a($cor-preta);
        border-radius: .5em;
        font-weight: 500;
        padding: .5em;
      }
    }
  }
}

@mixin colortxt($bc, $fcor) {
  background-color: $bc;
  color: $fcor;
}
.txtRed{
  @include colortxt(#d66464, transparent);
}
.txtGreen{
  @include colortxt(#96c186, transparent);
}
.valueGreen{
  @include colortxt(transparent, #96c186);
}
.valueRed{
  @include colortxt(transparent, #d66464);
}