@import 'styles/variaveis';

@mixin menu($cor, $fs, $padd) {
  align-items: center;
  border: 2px solid $cor;
  border-radius: 1em;
  color: $cor-brancol;
  cursor: pointer;
  display: flex;
  font-size: $fs;
  justify-content: center;
  padding: $padd;
}

.header{
  align-items: center;
  background-color: $cor-header;
  border-bottom: 1px solid $cor-secundaria;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .7em 1.5em;
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  .esquerda{
    align-items: center;
    display: flex;
    gap: 1em;
    strong{
      color: $cor-cinza;
      font-size: 1.2em;
      pointer-events: none;
      text-transform: uppercase;
      user-select: none;
    }
  }
  .menu{
   @include menu(transparent, 1.4em, .3em);
    margin-right: .6em;
    &:hover{
      background-color: $cor-secundaria;
      color: $cor-preta;
      transition: .3s ease-in;
    }
    &__ativo{
      @include menu($cor-azull, 1.4em, .3em);
      margin-right: .6em;
    }
  }
  .logo{
    height: 40px;
    width: 50px;
    pointer-events: none;
    user-select: none;
  }
  .lista{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    gap: 1em;
    justify-content: center;
  }
}

.link {
  @include menu(transparent, 1.3em, 2px);
  overflow: hidden;
  &:hover {
    background-color: $cor-secundaria;
    color: $cor-preta;
    transition: 0.4s ease-in;
  }
  &__ativo{
    @include menu(#5a6af9, 1.3em, 2px);
  }
}