@import 'styles/variaveis';

@mixin menu($cor, $fs, $padd) {
  align-items: center;
  border: 2px solid $cor;
  border-radius: 1em;
  color: $cor-brancol;
  cursor: pointer;
  display: flex;
  font-size: $fs;
  justify-content: center;
  padding: $padd;
}

.header{
  align-items: center;
  background-color: $cor-header;
  border-bottom: 1px solid $cor-secundaria;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .7em 1.2em;
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  @media (max-width: 425px) {
    padding: .4em .3em;
    width: 100vw;
  }
  @media (min-width: 426px) and (max-width: 768px) {
    padding: .6em .8em;
    width: 100vw;
  }
  .esquerda{
    align-items: center;
    display: flex;
    gap: 1em;
    strong{
      color: $cor-cinza;
      font-size: 1.1em;
      pointer-events: none;
      text-transform: uppercase;
      user-select: none;
      @media (max-width: 425px) {
        display: none;
      }
    }
  }
  .menu{
   @include menu(transparent, 1.3em, .3em);
    margin-right: .6em;
    @media (max-width: 375px) {
      @include menu(transparent, 1.2em, .3em);
    }
    &:hover{
      background-color: $cor-secundaria;
      color: $cor-preta;
      transition: .3s ease-in;
    }
    &__ativo{
      @include menu($cor-azull, 1.3em, .3em);
      margin-right: .6em;
      @media (max-width: 375px) {
        @include menu(transparent, 1.2em, .3em);
      }
    }
  }
  .logo{
    height: 34px;
    width: 44px;
    pointer-events: none;
    user-select: none;
    @media (max-width: 375px) {
      height: 35px;
      width: 40px;
    }
  }
  .lista{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    gap: 1em;
    justify-content: center;
  }
}

.link {
  @include menu(transparent, 1.3em, 3px);
  @media (max-width: 375px) {
    @include menu(transparent, 1.14em, 3px);
  }
  overflow: hidden;
  &:hover {
    background-color: $cor-secundaria;
    color: $cor-preta;
    transition: 0.4s ease-in;
  }
  &__ativo{
    @include menu($cor-azull, 1.3em, 3px);
    @media (max-width: 375px) {
      @include menu($cor-azull, 1.14em, 3px);
    }
  }
}

.notification{
  position: relative;
}

.circle{
  background-color: $cor-vermelhal;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  top: 4px;
  right: 6px;
}

