@import '../../styles/variaveis';

.header{
  align-items: center;
  background-color: #232323;
  border-bottom: 1px solid $cor-secundaria;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .7em 1.5em;
  position: fixed;
  z-index: 998;
  width: 100%;
  &__esquerda{
    align-items: center;
    display: flex;
    gap: 1em;
    strong{
      color: $cor-cinza;
      font-size: 1.2em;
      text-transform: uppercase;
    }
  }
  &__menu{
    align-items: center;
    border-radius: 1em;
    color: $cor-brancol;
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
    justify-content: center;
    margin-right: .6em;
    padding: .4em;
    transition: .3s ease-in;
    &:hover{
      background-color: #4b4b4b;
      color: $cor-preta;
    }
  }
  &__logo{
    height: 40px;
    width: 50px;
  }
  &__lista{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.16em;
    gap: 1em;
    justify-content: center;
  }
  &__link {
    border-radius: 1em;
    color: $cor-brancol;
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
    padding: 0.2em;
    overflow: hidden;
    transition: 0.4s ease-in;
    &:hover {
      background-color: #4b4b4b;
      color: $cor-preta;
    }
  }
}