@import 'styles/variaveis';

.searchSelect{
  padding: 0;
  position: relative;
  @media (max-width: 425px) {
    padding: 0;
  }
  .select{
    align-items: center;
    background-color: $cor-principal;
    border: 2px solid $cor-card;
    border-radius: .5em;
    color: $cor-brancol;
    cursor: pointer;
    display: flex;
    font-size: .96rem;
    font-weight: 400;
    outline: none;
    padding: .5em 1.3em .5em .5em;
    text-align: left;
    width: 200px;
    &:focus{
      border-color: $cor-azul;
    }
    @media (max-width: 375px) {
      padding: .4em;
      width: 173px;
    }
    @media (min-width: 380px) and (max-width: 425px) {
      padding: .6em;
      width: 198px;
    }
    option{
      font-size: 1.2em;
      @media (min-width: 380px) and (max-width: 425px) {
        font-size: 1em;
      }
    }
  }
  span{
    align-items: center;
    background-color: $cor-principal;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    color: $cor-brancol;
    display: flex;
    height: 80%;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    right: .3em;
    top: .2em;
    width: 2em;
    @media (max-width: 425px) {
      right: .4em;
      top: .24em;
    }
  }
}