@import "styles/variaveis";

@mixin global { align-items: flex-start; border-bottom: 1px solid $cor-secundaria; text-align: left; }
@mixin colors { align-items: center; border-radius: 50%; display: flex; font-size: 1.1em; justify-content: center; padding: 4px; width: fit-content; }

.tableBox {
	background: transparent;
	filter: drop-shadow($sombra);
	margin: 4em 2em 2em 2em;
  	@media (max-width: 425px) {
		filter: none;
    	margin: 0;
  	}
	.tableContent {
		background-color: $cor-card;
    	border-bottom-left-radius: .5em;
		border-bottom-right-radius: .5em;
		padding: 0 0 1.5em 0;
		@media (max-width: 425px) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			overflow-x: scroll;
		}
	}
	.table {
		border-collapse: collapse;
		width: 100%;
		@media (max-width: 425px) {
		}
	}
	.th {
		@include global;
		background-color: $cor-header;
		font-size: 0.86em;
		font-weight: 400;
		padding: 1.4em .7em 1em .7em;
		text-transform: uppercase;
		&:first-child{
			padding-left: .9em;
		}
	}
	.tr {
		&:nth-of-type(even) {
			background-color: #27282b;
		}
		&:hover {
			background-color: $cor-hover;
		}
	}
	.td {
		@include global;
		color: $cor-brancol;
		font-size: 0.96em;
		padding: 0.7em 0.6em;
		@media (max-width: 425px){
			height: 80px;
		}
		.buttons {
			align-items: center;
			display: flex;
			gap: 0.5em;
			justify-content: flex-start;
			button {
				border-radius: 50%;
				color: $cor-brancol;
				cursor: pointer;
				font-size: 1.2em;
				padding: 2px 4px;
				&:hover {
					color: $cor-azull;
					transform: scale(1, 1.14);
				}
			}
		}
		.contract {
			align-items: center;
			border-radius: 1em;
			display: flex;
			justify-content: center;
			padding: 0.2em 0.5em;
			width: 78px;
		}
		.indentify {
			display: flex;
			flex-direction: column;
			gap: 3px;
			strong {
				font-size: 1.132em;
				font-weight: 400;
			}
			span {
				color: $cor-cinza;
				font-size: .75em;
				font-weight: 400;
			}
		}
		.icon{
			display: flex;
			font-size: 1.1em;
			justify-content: flex-start;
		}
		.colorTrue{
      @include colors;
      background-color: $cor-bg-azul; 
      color: $cor-azull;
		}
		.colorFalse{
      @include colors;
      background-color: $cor-bg-vermelha;
      color: $cor-vermelhal;
		}
	}
}
