@import 'styles/variaveis';

.loading{
  align-items: center;
  background-color: $cor-principal;
  display: flex;
  flex-direction: column;
  gap: .6em;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  h1{
    animation: blink .7s ease infinite;
    color: $cor-brancol;
    font-size: 1.5em;
    font-weight: 400;
  }
}

@keyframes blink{
  from {
    color: $cor-brancol;
    opacity: 0.6;   
  }
  to {
    color: $cor-card-l;
    opacity: 1;
  }
}