@import "styles/variaveis";

.footer{
  background: $cor-preta;
  color: $cor-brancol;
  font-size: 1em;
  margin-top: 6em;
  text-align: center;
  &__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    div{
      width: calc(100% / 3);
    }
  }
  &__titulo{
    display: flex;
    font-size: 1em;
    justify-content: flex-start;
    text-transform: uppercase;
  }
  &__logo{
    height: 42px;
    width: 54px;
  }
  &__links{
    align-items: center;
    display: flex;
    gap: 1.1em;
    justify-content: flex-end;
    &__link{
      align-items: center;
      border-radius: 1em;
      display: flex;
      font-size: 1.3em;
      justify-content: center;
      &:hover{
        color: $cor-azull;
      }
    }
  }
  &__copyright{
    align-items: center;
    border-top: 1px solid $cor-secundaria;
    color: #888888;
    display: flex;
    gap: .6em;
    font-size: .9em;
    justify-content: center;
    padding: .5em 2em;
    width: 100%;
  }
}