@import "styles/variaveis";

.footer{
  background: $cor-preta;
  color: $cor-brancol;
  font-size: 1em;
  margin-top: 5em;
  text-align: center;
  h3{
    font-size: 1.4em;
    text-transform: uppercase;
  }
  h4{
    font-size: 1.5em;
  }
  a{
    align-items: center;
    border-radius: 25%;
    padding: 2px;
    &:hover{
      background-color: $cor-cinza;
      color: $cor-preta;
    }
  }
  &__content{
    align-items: center;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 3em 4em .6em 4em;
  }
  &__img{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }
  &__logo{
    height: 50px;
    width: 50px;
  }
  &__permalinks, &__endereco{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  &__links, &__locais{
    display: flex;
    flex-direction: column;
    gap: .4em;
  }
  &__link, &__descricao{
    align-items: center;
    display: flex;
    gap: .6em;
  }
}

.copyright{
  align-items: center;
  border-top: 2px solid $cor-secundaria;
  color: $cor-cinza;
  display: flex;
  font-size: .96em;
  justify-content: center;
  padding: 1em 0;
}