@import 'styles/variaveis';

.busca{
  align-items: center;
  border-top: 4px solid $cor-card;
  border-left: 4px solid $cor-card;
  border-right: 4px solid $cor-card;
  border-top-left-radius: 1.6em;
  border-top-right-radius: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em;
  padding: .4em 0;
  &__pesquisar {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 2rem;
    height: 40px;
    justify-content: flex-end;
    padding: 1em 1.5em;
    width: 360px;
    input {
      background-color: transparent;
      border: none;
      color: $cor-branco;
      font-size: 1.1em;
      outline: none;
      width: 100%;
      &::placeholder {
        color: $cor-brancol;
        opacity: 0.7;
      }
    }
  }
  &__tags{
    align-items: center;
    display: flex;
    justify-content:center;
    padding-right: 1em;
  }
}