@import 'styles/variaveis';

@mixin linksNavigation($cor, $bg) {
  align-items: center;
  background-color: $bg;
  color: $cor;
  display: flex;
  font-weight: 400;
  gap: 5px;
  padding: .2em 0 .2em 1em;
  div{
    align-items: center;
    display: flex;
    font-size: .7em;
    gap: 8px;
    line-height: 1.8em;
    @media (max-width: 425px) {
      font-size: .78em;
    }
  }
}

.navLinks{
  .link{
    @include linksNavigation($cor-brancol, transparent);
    &:hover{
      background-color: $cor-hover;
      div{
        color: $cor-azull;
      }
    }
    &__active{
      @include linksNavigation($cor-branco, $cor-azul);
    }
  }
}