@import 'styles/variaveis.scss';

@mixin field {
  background-color: $cor-pretal;
  border-top-right-radius: .3em;
  border-top-left-radius: .3em;
  border-bottom: 2px solid $cor-secundaria;
  margin-bottom: 2em;
  padding: .5em 0;
  position: relative;
  width: 360px;
  min-width: 150px;
  &:focus{
    outline: none;
  }
  @media (max-width: 375px) {
    max-width: 10.5em;
  }
  @media (min-width: 376px) and (max-width: 425px) {
    max-width: 12em;
  }
}
@mixin placeholder {
  background: none;
  color: $cor-cinza;
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  @media (max-width: 425px) {
    font-size: .9em;
  }
  &::after{
    color: $cor-cinza;
    content: attr(data-placeholder);
    display: block;
    font-size: .88em;
    left: 0px;
    position: absolute;
    padding-left: .4em;
    top: 16px;
    transition: all .4s;
    width: 100%;
    @media (max-width: 425px) {
      top: 14px
    }
  }
  &::before{
    content: '';
    background: $cor-azull;
    bottom: -2px;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .4s;
    width: 0;
  }
}

.areaField{
  @include field;
  .input{
    background-color: transparent;
    border: none;
    color: $cor-dropdown-l;
    display: block;
    font-size: 1.1em;
    height: 100%;
    padding: .1em .4em;
    width: 100%;
    @media (max-width: 425px) {
     font-size: 1em;
    }
    &:focus{
      outline: none;
    }
  }
  .focus{
    @include placeholder; 
  }
  .input:focus + .focus::after{
    color: $cor-azull;
    top: -18px;
    @media (max-width: 425px) {
      top: -18px;
    }
  }
  .input:focus + .focus::before{
    width: 100%;
  }
  .hasVal + .focus::after{
    top: -18px;
    width: 100%;
    @media (max-width: 425px) {
     top: -18px;
    }
  }
}

.container{
  @include field;
  .placeholder{
   @include placeholder;
  }
  .value{
    align-items: center;
    display: flex;
    font-size: 1.1em;
    height: 26.5px;
    padding: .1em .4em;
    position: relative;
    @media (max-width: 425px) {
      font-size: 1em;
     }
    &__caret{
      align-items: center;
      display: flex;
      color: $cor-cinza;
      font-size: 1.5em;
      position: absolute;
      top: 0;
      right: .2em;
    }
    &__options{
    display: none;
      &__show{
        background-color: $cor-dropdown;
        border-bottom-left-radius: .3em;
        border-bottom-right-radius: .3em;
        box-shadow: $sombra;
        display: block;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        max-height: 10em;
        overflow-y: auto;
        position: absolute;
        top: calc(100% + .8em);
        width: 360px;
        z-index: 100;
        &::-webkit-scrollbar {
          width:6px;
        }
        &::-webkit-scrollbar-track {
          background: $cor-pretal;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #3e3e3e;
          border-radius: 8px;
        }
        @media (max-width: 375px) {
          max-height: 7em;
          max-width: 10em;
        }
        @media (min-width: 376px) and (max-width: 425px) {
          font-size: 1em;
          max-height: 7em;
          max-width: 13em;
        }
      }
    }
    .option{
      cursor: pointer;
      font-size: .9em;
      height: 35px;
      padding: .5em;
      &:hover{
        background-color: $cor-azul;
      }
    }
  }
  .value:focus + .placeholder::after{
    color: $cor-azull;
    top: -18px;
    @media (max-width: 425px) {
      top: -18px;
    }
  }
  .value:focus + .placeholder::before{
    width: 100%;
  }

  .hasFocus + .placeholder::after{
    top: -18px;
    width: 100%;
  }
} 